.yellow-bg {
  background-color: $secondary;
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary;
}

.secondary-text-color {
  color: $secondary;
}

.dark-bg {
  // background-color: $gray-9 !important;
  background-color: #0a1225; 
}

.primary-text-color {
  color: $gray-9;
}

.yellow-icon {
  background-color: $secondary;
  width: 40px;
  height: 40px;
}

.light-text {
  color: $gray-6;
}

.fs-14 {
  font-size: 14px;
}

.line-text {
  width: 70px;
  height: 2px;
  background-color: $primary;
  display: inline-block;

}

.primary-text-color {
  color: $primary;
}

.sections-spacing {
  margin-bottom: 100px !important;

  @include media-down(l) {
    margin-bottom: 70px !important;
  }
}

.col-lg-smaller {
  @include media-up(l) {
    width: 46%;
  }
}

.icon-box {
  background-color: $primary;
  display: flex;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
  height: 50px;
  text-align: center;
  justify-content: center;

  @include media-up(l) {
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
  }
}

.overlay-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  background-size: cover;
  z-index: -1;
  // filter: brightness(40%) contrast(100%) saturate(0%) blur(0) hue-rotate(10deg);

  @include media-up(l) {
    background-attachment: fixed;
  }
}

.overlay-3 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(120deg, #292929 25%, rgba(41, 41, 41, 0) 75%);
    opacity: .8;
  }
}


.overlay-4 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(120deg, #292929 25%, rgba(41, 41, 41, 0) 170%);
    opacity: .8;
  }
}

.overlay-2 {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(10deg);
  transition: all ease .4s;

  &:hover {
    filter: unset;
  }

}

.border-light-lg {
  @include media-up(l) {
    border-top: 1px solid $gray-3;
  }
}

.column-gap-20 {
  column-gap: 20px;
}

.icon-wrapper {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.border-primary-lg {
  @include media-up(l) {
    border: 1px solid $primary;
  }
}

.btn-dark-blue {
  background-color: $primary !important; 
  color: $white;
  font-size: 14px;
  transition: all .2s ease;

  &:hover {
    // background-color: darken($primary, 5%) !important;
    color: $white;
    opacity: 0.8;
  }
}

.btn-border-primary {
  background-color: transparent !important; 
  color: $primary;
  font-size: 14px;
  border: 1px solid $primary;
  transition: all .2s ease;

  &:hover {
    background-color: $primary !important;
    color: $white;
  }
}